@import "tailwindcss";

/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  color: white;
  background: black;
}

@layer base {
  .text-edge-outline {
    -webkit-text-stroke: 1px rgba(255,255,255,0.3);
  }
}

@theme {
  --animate-fade-in: fade-in 3s ease-in-out forwards;
  --animate-fade-left: fade-left 3s ease-in-out forwards;
  --animate-fade-right: fade-right 3s ease-in-out forwards;
  --animate-title: title 3s ease-out forwards;

  @keyframes fade-in {
    0% { opacity: 0%; }
    75% { opacity: 0%; }
    100% { opacity: 100%; }
  }

  @keyframes fade-left {
    0% {
      transform: translateX(100%);
      opacity: 0%;
    }
    30% {
      transform: translateX(0%);
      opacity: 100%;
    }
    100% {
      opacity: 0%;
    }
  }

  @keyframes fade-right {
    0% {
      transform: translateX(-100%);
      opacity: 0%;
    }
    30% {
      transform: translateX(0%);
      opacity: 100%;
    }
    100% {
      opacity: 0%;
    }
  }
  
  @keyframes title {
    0% {
      line-height: 0%;
      letter-spacing: 0.25em;
      opacity: 0;
    }
    25% {
      line-height: 0%;
      opacity: 0%;
    }
    80% {
      opacity: 100%;
    }
    100% {
      line-height: 100%;
      opacity: 100%;
    }
  }
}
